*{
    margin: 15px;
    padding: 0px;
}
/*Navigationbar*/
#navbar{
    position: relative;
   display: flex;
   align-items: center;
   height: 80px;
   box-shadow:10px 10px 10px grey;

}
#navbar::before{
    content: "";
    background-color:rgb(247, 168, 181);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
.logo{
    margin: 34px 45px;
}
.logo img{
    border-radius: 60%;
}
/*navigation listing*/
#navbar ul{
display: flex;
position: relative;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#navbar ul li a{
    display: block;
    padding: 3px;
    text-decoration: none;
}
#navbar ul li a:hover{
color: white;
background-color: skyblue;
border-radius: 50%;
}

.dropdown {
    float: left;
    overflow: hidden;
 }

 .dropdown .dropbtn {
    font-size: 1.3rem;
    border: none;
    outline: none;
    color:purple;
    padding: 6px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
 }

 .navbar a:hover,
 .dropdown:hover .dropbtn {
    background-color:skyblue;
 }

 .dropdown-content {
    display: none;
    position: absolute;
    background-color:coral;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
 }

 .dropdown-content a {
    float: none;
    color: purple;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
 }

 .dropdown-content a:hover {
    background-color:pink;
 }

 .dropdown:hover .dropdown-content {
    display: block;
    background: rgba(240, 149, 149, 0.8);

    margin-top: -10px;
 }


.search{
    padding: 3px 22px;
    display: flex;
}

.btn{
background-color: pink;
margin: 2px;
padding: 3px 2px;
border: 2px solid pink;
align-items: flex-end;
color: purple;
    }
 #menubtn{
    font-size: 2.5rem;
    cursor: pointer;
    color: purple;
 }
/*Home*/
#Home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
    background:url(images/icehome.png)no-repeat center center/cover;
    box-shadow:10px 10px 10px grey;

    
    
}

#Home h2{
    text-align: center;
 
    font-weight: bold;
    font-size: 40px;
    margin: 1px;
    color:white;
    
}

.About{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    height: 400px;
   background:url(images/sec2.png)no-repeat center center/cover;
   opacity: 0.7;
   box-shadow:10px 10px 10px black;

}
.About h2{
    text-align: center;
}
.About p{
text-decoration: underline 2px;
font-family: 'Satisfy', cursive;
font-size: 1rem;

}



/*utility class*/
.h-primary{
    font-size: 2.8rem;
    padding: 12px
}
.h-primary center{
    font-size: 2.8rem;
    padding: 12px
    

}
.btn1{
    padding: 6px 20px;
    border: 2px solid lightblue;
    background-color: skyblue;
    margin: 17px;
    
}
.h-secondary{
text-align: center;
font-size: 2.6rem;
padding: 10px;
}

/* Menu*/
.menu{
    background: lightcoral;
}
.menu .box-container{
    display: grid;
grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
gap: 1.3rem;
box-shadow: 10px 10px 10px black;

}
.menu .box-container.box.image{
   height: 30rem;
    overflow: hidden;
    width: 100;
    text-align: center;
   
   
   
}
.menu .box-container.box.image img{
    object-fit: cover;
   
    

}
.menu .box-container.box.content{
    padding: 1.5rem;
    text-align: center;
  
    
}
.menu .box-container.box.content.title{
    font: size 2.5rem;
    
}
.menu .box-container.box.content.p{
font-size: 1.6rem;
line-height: 1.8;
padding: 1rem 0;

}
.menu .box-container.box.content.price{
font-size: 5.5rem;
padding: .5rem;
}
/*order*/
.container{
 position: relative;
 display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
padding: 20px 100px;
margin: 0;
box-sizing: border-box;
font-family: 'Quicksand', sans-serif;

}

.container:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(images/order1.png)no-repeat center;
    background-size: cover ;
    z-index:-1;
   opacity: 0.6;;
}

.contact-box{
    max-width: 850px;
    display: grid;
grid-template-columns: repeat(2,1fr);
justify-content: center;
align-items: center;
text-align: center;
background-color:white;
box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.left{
    height: 100%;
    background: url(images/order1.png)no-repeat center;
   background-size: cover;
}
.right{
    padding: 25px 40px;
}
h2{
    position:relative;
    padding-bottom: 10px;
    margin: bottom 10px;
    text-align: center;
}
h2:after{
    content:"";
    position:absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
   
}
.field{
width: 100%;
padding: 0.5rem 1rem;
outline: none;
border: 2px solid rgba(0,0,0,0,0);
background-color: rgba(230, 230, 230, 0.6);
font-size: 1.1rem;
margin-bottom: 22px;
transition: .3s;

}
.field:hover{
background-color: rgba(0, 0, 0, 0.1);
}
.field:focus{
    background-color: white;
border: 2px solid rgba(30,85,250,0.47);
}
.area{
    min-height: 150px;
}
.btn2{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border:none;
    color: white;
    transition: .3s;

}
.btn2:hover{
    background-color: green;
}
@media screen and(max-width:880px) {
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
    
}
/*footer*/
.footer{
    background: url(images/footer.png)no-repeat center center/cover;
    opacity: 0.8;
    margin-top: 2rem;
    text-align: center;
    box-shadow:10px 10px 20px black;

}

.footer .icon-container{
    display:grid;
grid-template-columns:repeat(auto-fit,minmax(15rem,1fr));
gap: 2rem;
}

.footer .icon-container.icons{
    text-align: center;
    padding: 3rem 2rem;
    height: 10px;
    width: 10px;

}
.footer .icon-container.icons i{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    color:white ;
    margin-bottom: 5rem;
    line-height: 5.8rem;
    font-size: 2rem;
}
.footer .icon-container.icons h3{
    font-size: 5rem;
    color: black;
    padding: 1rem 0;
    text-transform: capitalize;
}
.footer .icon-container.icons p{
    line-height: 1.5;
    font: size 1.7rem;
    color:beige;
    text-transform: none;
    
}
 .footer .icon-container.icons link{
    font-size: 1.7rem;
    line-height: 2rem;
    color:black;
    padding: .5rem 0;
    display: block;
    text-decoration:none;
}

.footer .icon-container.icons link:hover{
    color:brown;
    text-decoration:underline;

}
.footer .share{
    margin:2rem 0;
}
.footer .share a{
    height: 6rem;
    width: 6rem;
    line-height: 5.8rem;
    color: white;
    margin: 0 .3rem;
    font-size: 2.5rem;
}

.footer .share a:hover{
    background:brown;
  
}

.footer .credit{
    margin: 2rem;
    padding: 3rem;
    font-size: 2rem;
    color: black;
    background-color: brown;
}

.footer .credit span{
    color: beige;
    font-size: 2rem;
}